[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=mICQ
GenericName=Text based ICQ client
GenericName[de]=Text-basiertes ICQ-Programm
Comment=Text/line based ICQ client for advances users
Comment[de]=Zeilenbasiertes ICQ-Programm für fortgeschrittene Benutzer
Icon=micq.xpm
Exec=micq
Terminal=1
TerminalOptions=
Categories=Network/Instant Messaging
