Source: micq
Section: net
Priority: optional
Maintainer: Rüdiger Kuhlmann <info@ruediger-kuhlmann.de>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.6.0

Package: micq
Architecture: any
Depends: ${shlibs:Depends}
Description: text based ICQ client with many features
 mICQ is a portable, small, yet powerful console based ICQ client. It
 supports password changing, auto-away, creation of new accounts, and other
 features that makes it a very complete yet simple client supporting the
 current ICQ v8 protocol.
 .
 A lot of other ICQ clients are based in spirit on mICQ, nevertheless
 mICQ is still _the_ console based ICQ client.

